/* corpo (aplicar o background, excluir formatação padrão do html */
body {
   background: linear-gradient(135deg, #ff3c00, #001068, #ff00f2);
   background-size: 200% 200%;
   animation: gradient 10s ease infinite;
   margin: 0;
   padding: 0;
 }
 /*aplicar fonte em todo o conteudo exceto no footer*/
 *:not(footer){
  font-family: 'Roboto Mono'; 
  /*aplicar animações do backgroun*/
  }
 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }
 /*aplicando cor e formatação do texto do conteudo*/
 .content {
  text-align: center;
  padding: 50px;
  color: white;
}
/*aplicando formatação na logo*/
.logocenter {
  display: block;
  margin: 0 auto;
}
/*aplicando formatação e cores nos cards*/
.card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/*formatar formulario de loggin*/
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/*formatação e cor dos botões*/

.btn-entrar {
  padding: 10px;
  background: linear-gradient(135deg, #ff5100, #001455);
  animation: gradient 10s ease infinite;
  color: #fff;
  border: none;
  border-radius: 50px;
  /* Borda circular */
  cursor: pointer;
  font-weight: bold;
}

.btn-cadastro {
  padding: 12px;
  /* Ajuste o tamanho do botão de cadastro aqui */
  background: linear-gradient(135deg, #001485, #ff00ff);
  animation: gradient 10s ease infinite;
  color: #fff;
  border: none;
  border-radius: 50px;
  /* Borda circular */
  cursor: pointer;
  font-weight: bold;
}
/*configurar formatação do carousel*/
.carousel {
  margin-top: 10px;
  /* Ajuste a margem superior desejada */
}

.carousel-inner img {
  width: 100%;
  height: auto;
}
 /* estilos adicionais para o conteúdo da página, como textos, links, etc. */
header img{
   border-radius: 20px;
} .logocenter{
   border-radius: 20px;
} 
button{
   border-radius: 70px;
}
.car{
  margin-bottom: 100px;
}
h1{
  font-weight: bold;
  margin-top: 0;
}
h2{
  font-weight: bold;
}
footer {
  bottom: 0;
  width: 100%;
}
