body {
   background: linear-gradient(135deg, #ff3c00, #001068, #ff00f2);
   background-size: 200% 200%;
   animation: gradient 10s ease infinite;
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
 }
 
 @keyframes gradient {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }
 
 /* Aqui você pode adicionar estilos adicionais para o conteúdo da página, como textos, links, etc. */
header img{
   border-radius: 20px;
} .logocenter{
   border-radius: 20px;
} 
button{
   border-radius: 70px;
}
.car{
  margin-bottom: 100px;
}