footer {
    background: linear-gradient(135deg, #ff5100, #001455, #ff00dd);
    background-size: 200%;
    animation: gradient 10s ease infinite;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 5px 0;
    line-height: 1.5; /* Adiciona um espaçamento uniforme entre as linhas de texto */
    display: inline-block; /* Permite ajustar vertical-align */
    vertical-align: middle; /* Centraliza verticalmente o texto */
}
