header {
    display: flex;
    /* Torna o header um container flexível */
    align-items: center;
    /* Centraliza verticalmente os itens */
    justify-content: space-between;
    /* Espaço igual entre os itens */
    padding: 10px;
    /* Adiciona um espaço interno ao header */
    background: linear-gradient(135deg, #ff5100, #001455, #ff00dd);
    background-size: 200%;
    animation: gradient 10s ease infinite;
}

header .logo {
    display: flex;
    /* Torna o container do logo e do texto flexível */
    align-items: center;
    /* Centraliza verticalmente os elementos dentro do container */
}

header img.logo {
    border-radius: 100%;
    width: 90px;
    margin-right: 10px;
    /* Adiciona margem à direita da imagem */
}

header h2.textcenter {
    color: white;
    margin: 0;
    /* Remove margens padrão */
}

header img.user {
    border-radius: 100%;
    width: 50px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #080707;
}
 
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CORCARD{
    color:white;
}